<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset=" UTF-8">
<title>Add movie</title>
</head>
<body>
<form th:action="@{/movie/add}" th:object="${movieForm}" method="post">
    <p>Title</p>
    <p>
        <input type="text" th:field="*{title}"/>
    </p>
    <div th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>

    <p>Type</p>
    <select th:field="*{type}">
        <option th:value="COMEDY" th:text="Comedy"></option>
        <option th:value="HORROR" th:text="Horror"></option>
        <option th:value="THRILLER" th:text="Thriller"></option>
        <option th:value="ACTION" th:text="Action"></option>
        <option th:value="ROMANTIC" th:text="Romantic"></option>
        <option th:value="DRAMA" th:text="Drama"></option>
        <option th:value="ANIMATION" th:text="Animation"></option>
    </select>
    <div th:if="${#fields.hasErrors('type')}" th:errors="*{type}"></div>
    <p>Description</p>
    <p>
       <textarea rows="8" cols="100" th:field="*{description}"/>
        <div th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></div>
    </p>
    <input type="submit" value="Add">
</form>
</body>
</html>